@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chicago';
    src: url('./assets/fonts/Chicago.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geneva';
    src: url('./assets/fonts/Geneva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #008080;
    font-family: 'geneva', sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}
